# Ignore knowledge graph
/kg/

# Ignore large common_data
/data/fvqa/common_data/fvqa-resnet-14x14.h5
/data/fvqa/common_data/fvqa_36.hdf5
/data/fvqa/common_data/fvqa36_imgid2idx.pkl

# Ignore images
/data/fvqa/exp_data/images

# Ignore dump
/dump/

# Ignore Jupyter Notebook
*.ipynb

# Ignore Python byte-compiled files
**/__pycache__/
*.pyc

# Ignore checkpoint of pretrained model
/transfer_model
