# Ignore knowledge graph
/kg/

# Ignore dataset
/data/

# Ignore dump
/dump/

# Ignore Jupyter Notebook
*.ipynb

# Ignore Python byte-compiled files
**/__pycache__/
*.pyc

# Ignore checkpoint of pretrained model
/transfer_model
